{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!--[ Actual Target section ] start-->
                                <div class="col-md-6 col-xl-4">
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <h6 class="mb-4">Actual/Target (only this semester)</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0">{{ worked_hours|floatformat }} of {{ hours_to_work|floatformat }} hours</h3>
                                                </div>

                                                <div class="col-3 text-right">
                                                    <p class="m-b-0">{{ worked_hours_pct }}%</p>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-theme" role="progressbar"
                                                        style="width: {{ worked_hours_pct }}%;" aria-valuenow="{{ worked_hours_pct }}" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--[ Actual Target section ] end-->
                                <!--[ Planned Target ] starts-->
                                <div class="col-md-6 col-xl-4">
                                    <div class="card Monthly-sales">
                                        <div class="card-block">
                                            <h6 class="mb-4">Planned/Target (only this semester)</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center  m-b-0">{{ planned_hours|floatformat }} of {{ hours_to_work|floatformat }} hours</h3>
                                                </div>
                                                <div class="col-3 text-right">
                                                    <p class="m-b-0">{{ planned_hours_pct }}%</p>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-theme2" role="progressbar"
                                                        style="width: {{ planned_hours_pct }}%;" aria-valuenow="{{ planned_hours_pct }}" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--[ Planned Target section ] end-->
                                <!--[ Excess Capacity section ] starts-->
                                <div class="col-md-12 col-xl-4">
                                    <div class="card yearly-sales">
                                        <div class="card-block">
                                            <h6 class="mb-4">Excess Capacity + Carryover last Semester</h6>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center  m-b-0">{{ excess_hours|floatformat }} hours + {{ carry_over_hours_from_last_semester|floatformat }} hours</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--[ Excess Capacity section ] end-->
                                <!--[ Not Finished Tasks ] start-->
                                <div class="col-xl-8 col-md-6">
                                    <div class="card Recent-Users">
                                        <div class="card-header">
                                            <h5>Not Finished Tasks</h5>
                                        </div>
                                        <div class="card-block px-0 py-3">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <tbody>
                                                    {% for task in tasks %}
                                                        <tr class="unread">
                                                            <td>
                                                                <h6 class="mb-1">{{ task.task_text|truncatechars_html:40}}</h6>
                                                            </td>
                                                            <td>
                                                                <h6 class="text-muted">{{ task.deadline }}</h6>
                                                            </td>
                                                            <td>
                                                                <form class="form-inline" action = "#" method = "POST">
                                                                    {% csrf_token %}
                                                                    <input type="hidden" name="taskId" value="{{ task.id }}">
                                                                    <input type="hidden" name="formType" value="updateTask">
                                                                    <div class="form-group input-group-sm mx-sm-3 mb-2">
                                                                        <label for="actualHours" class="sr-only">actual</label>
                                                                        <input type="text" class="form-control" id="actualHours" value="{{ task.worked_hours }}" size="3" name = "actualHours">
                                                                        /
                                                                        <label for="plannedHours" class="sr-only">planned</label>
                                                                        <input type="text" class="form-control" id="plannedHours" value="{{ task.total_hours }}" size="3" name = "plannedHours">
                                                                    </div>
                                                                    <button type="submit" class="btn btn-primary mb-2 paddingZero">Update</button>
                                                                </form>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--[ Not Finished Tasks ] end-->

                                <!-- [ Add New Task ] start -->
                                <div class="col-xl-4 col-md-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Add new Task</h5>
                                        </div>
                                        <div class="card-block">
                                            <form action = "#", method = "POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="formType" value="newTask">
                                                <div class="form-group">
                                                    <label for="TaskDescription">Task Description</label>
                                                    <textarea class="form-control" id="TaskDescription" rows="3" name = "TaskDescription"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="workedHours">Worked hours</label>
                                                    <input type="number" class="form-control" id="workedHours" name = "workedHours">
                                                </div>
                                                <div class="form-group">
                                                    <label for="plannedHours">Planned hours</label>
                                                    <input type="number" class="form-control" id="plannedHours" name = "plannedHours">
                                                </div>
                                                <div class="form-group">
                                                    <label for="deadline">Deadline</label>
                                                    <input type="date" class="form-control" id="deadline" name = "deadline">
                                                </div>
                                                <div class="form-group">
                                                    <label for="taskGivenBy">Task given by</label>
                                                    <select class="form-control" id="taskGivenBy" name = "taskGivenBy">
                                                        {% for supervisor in supervisors %}
                                                            {% if my_supervisor == supervisor %}
                                                            <option value = {{ supervisor.id }} selected>{{ supervisor.first_name }} {{ supervisor.last_name }}</option>
                                                            {% else %}
                                                            <option value = {{ supervisor.id }}>{{ supervisor.first_name }} {{ supervisor.last_name }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ Add New Task ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->            

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
