{% extends "layouts/base.html" %}
{% load group_extras %}

{% block title %} Contracts {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!--[ All Contracts ] start-->
                                <div class="col-xl-12 col-md-6">
                                    <div class="card Recent-Users">
                                        <div class="card-header">
                                            <h5>All Contracts</h5>
                                        </div>
                                        <div class="card-block px-0 py-3">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>From</th>
                                                            <th>To</th>
                                                            <th>Hours per week</th>
                                                            <th>Supervisor</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for shk in shks %}
                                                            <tr class = "bold">
                                                                <td>{{shk.first_name}} {{shk.last_name}}</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            {% for contract in shk.contracts %}
                                                                <tr>
                                                                    <td>&nbsp; Contract:</td>
                                                                    <td>{{contract.contract_start_date}}</td>
                                                                    <td>{{contract.contract_end_date}}</td>
                                                                    <td>{{contract.hours_per_week|floatformat}}</td>
                                                                    <td>{{contract.supervisor.first_name}} {{contract.supervisor.last_name}}</td>
                                                                </tr>
                                                                {% for contract_change in contract.contract_changes %}
                                                                    <tr class = "lighter">
                                                                        <td>&nbsp;&nbsp; Contract Change:</td>
                                                                        <td>{{contract_change.from_date}}</td>
                                                                        {% if contract_change.to_date %}
                                                                            <td>{{contract_change.to_date}}</td>
                                                                        {% else %}
                                                                            <td>{{contract.contract_end_date}}</td>
                                                                        {% endif %}
                                                                        <td>{{contract_change.hours_per_week|floatformat}}</td>
                                                                        <td></td>
                                                                    </tr>
                                                                {% endfor %}
                                                            {% endfor %}
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--[ All Contracts ] end-->
                                {% if request.user|has_group:"shkofficer" %}
                                    <!--[ Carryover ] start-->
                                    <div class="col-xl-12 col-md-6">
                                        <div class="card Recent-Users">
                                            <div class="card-header">
                                                <h5>Carryover</h5>
                                            </div>
                                            <div class="card-body">
                                                <p>
                                                    Carryover is only possible if the SHK had a contract in the last semester and has a contract in the current semester. Additionally the contract for the current semester does not have a carryover. This prevents that the carryover is done twice.
                                                </p>
                                                <p>
                                                    The carryover is then set to the longest currently active contract.
                                                </p>
                                            </div>
                                            <div class="card-block px-0 py-3">
                                                <div class="table-responsive">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Last Semester (Work/Holiday)</th>
                                                                <th>This Semester</th>
                                                                <th>New Carryover</th>
                                                                <th>Problems</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for shk in shks %}
                                                                <tr class = "bold">
                                                                    <td>{{shk.first_name}} {{shk.last_name}}</td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td>
                                                                        {% if shk.carryover_possible %}
                                                                            <a href="/doCarryover/{{shk.id}}" class="label theme-bg text-white f-12">Do Carryover</a>
                                                                        {% endif %}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>old contracts</td>
                                                                    <td>{{shk.old_carryover_work|floatformat}}/{{shk.old_carryover_holiday|floatformat}}</td>
                                                                    <td>{{shk.present_carryover_work|floatformat}}/{{shk.present_carryover_holiday|floatformat}}</td>
                                                                    <td></td>
                                                                    <td>
                                                                        {% for problem in shk.old_problems %}
                                                                            {{problem}}<br>
                                                                        {% endfor %}
                                                                    </td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>new contract</td>
                                                                    <td>{{shk.new_carryover_work|floatformat}}/{{shk.new_carryover_holiday|floatformat}}</td>
                                                                    <td></td>
                                                                    <td>{{shk.new_total_carryover_work|floatformat}}/{{shk.new_total_carryover_holiday|floatformat}}</td>
                                                                    <td>
                                                                        {% for problem in shk.new_problems %}
                                                                            {{problem}}<br>
                                                                        {% endfor %}
                                                                    </td>
                                                                    <td></td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--[ Carryover ] end-->
                                {% endif %}
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->            

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
