{% extends "layouts/base.html" %}

{% block title %} Edit Task {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!--[ Edit Task ] start-->
                                <div class="col-xl-12 col-md-6">
                                    <div class="card Recent-Users">
                                        <div class="card-header">
                                            <h5>Edit Task</h5>
                                        </div>
                                        <div class="card-block">
                                            <form action = "/tasks/" method = "POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="taskId" value="{{ task.id }}">
                                                <div class="form-group">
                                                    <label for="taskDescription">Task Description</label>
                                                    <textarea class="form-control" id="taskDescription" rows="3" name = "taskDescription">{{ task.task_text }}</textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="workedHours">Worked hours</label>
                                                    <input type="number" class="form-control" id="workedHours" value="{{ task.worked_hours }}" name = "workedHours">
                                                </div>
                                                <div class="form-group">
                                                    <label for="plannedHours">Planned hours</label>
                                                    <input type="number" class="form-control" id="plannedHours" value="{{ task.total_hours }}" name = "plannedHours">
                                                </div>
                                                <div class="form-group">
                                                    <label for="deadline">Deadline</label>
                                                    <input type="date" class="form-control" id="deadline" value="{{ task.deadline|date:"Y-m-d" }}" name = "deadline">
                                                </div>
                                                <div class="form-group">
                                                    <label for="taskGivenBy">Task given by</label>
                                                    <select class="form-control" id="taskGivenBy" name = "taskGivenBy">
                                                        {% for supervisor in supervisors %}
                                                            {% if task.assigner == supervisor %}
                                                            <option value = {{ supervisor.id }} selected>{{ supervisor.last_name }}, {{ supervisor.first_name }}</option>
                                                            {% else %}
                                                            <option value = {{ supervisor.id }}>{{ supervisor.first_name }} {{ supervisor.last_name }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!--[ Edit Tasks ] end-->

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->            

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
