{% extends "layouts/base.html" %}
{% load group_extras %}

{% block title %} Tasks {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!--[ All Tasks ] start-->
                                <div class="col-xl-12 col-md-6">
                                    <div class="card Recent-Users">
                                        <div class="card-header">
                                            <h5>All Tasks</h5>
                                        </div>
                                        <div class="card-block px-0 py-3">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Task</th>
                                                            <th>Worked Hours</th>
                                                            <th>Planned Hours</th>
                                                            <th>Dealine</th>
                                                            <th>Assigned By</th>
                                                            {% if request.user|has_group:"shk" %}
                                                                <th></th>
                                                            {% else %}
                                                                <th>Assigned To</th>
                                                            {% endif %}
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for task in tasks %}
                                                            <tr class="unread">
                                                                <td>{{ task.task_text|truncatechars_html:40 }}</td>
                                                                <td>{{ task.worked_hours }}</td>
                                                                <td>{{ task.total_hours }}</td>
                                                                <td>{{ task.deadline }}</td>
                                                                <td>{{ task.assigner.first_name }} {{ task.assigner.last_name }}</td>
                                                                {% if request.user|has_group:"shk" %}
                                                                    <td>
                                                                        <a href="/editTask/{{ task.id }}" class="label theme-bg text-white f-12">Edit</a>
                                                                    </td>
                                                                {% else %}
                                                                    <td>{{ task.assigned_to.first_name }} {{ task.assigned_to.last_name }}</td>
                                                                {% endif %}
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--[ All Tasks ] end-->

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->            

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
